$hoki: #67809F;

/** TABS
=========================================================================== */
.bar-header {
	text-align: center;
}

.bar, .title, .button-bar, ion-content, .scroll {
	border: none !important;
}

.button {
	border: none;
	& + & {
		border-left: 1px solid #888;
	}
}

/** BACKGROUND AND CARDS
=========================================================================== */
ion-content {
	background-color: #F7F7F7;
}

.card {
	.item-divider {
		background-color: #FFF;
		color: $hoki;
		font-size: 18px;
		font-weight: normal;
		padding: 0 0 8px 0;
		margin: 8px 16px 0 16px;
		border-bottom: 2px solid #ddd;
	}

	.item-body {
		font-size: 15px;
		border: none;
	}
}

/** SENSORS
=========================================================================== */
.item-sensor {
	padding: 0 !important;
}

.sensor {
	display: block;
	text-align: center;
}

.sensor-title {

}

.sensor-gauge {
	width: 100px;
	margin: auto;

	canvas {
		display: block;
	}
}

.sensor-value {
	width: 100%;
	font-size: 18px;
	font-weight: bold;

	&.sensor-value-temperature:after { content: "ºC"; }
	&.sensor-value-humidity:after { content: "%"; }
	&.sensor-value-movement:after {  }
}

.sensor-movement {
	img {
		display: block;
		width: 40px;
		height: 40px;
		margin-top: 6px;
		margin-bottom: 4px;
		margin-left: auto;
		margin-right: auto;
	}
}

/** ACTUATORS
=========================================================================== */
.actuator {
	padding: 18px;
	padding-bottom: 0;
	overflow: hidden;
}
.actuator-title {
	display: block;
}

.actuator-toggle {
	display: block;
	float: left;
	width: 20%;
	height: 60px;
	position: relative;

	label.toggle {
		top: 12px;
		left: 12px;
	}
}

.actuator-range {
	display: block;
	float: left;
	width: 65%;
}

.actuator-value {
	display: block;
	float: left;
	width: 15%;
	text-align: right;
	font-size: 16px;
	line-height: 50px;
}

/** ALERTS
=========================================================================== */
.item-divider {
	color: $hoki;
	font-size: 18px;
	font-weight: normal;
}

.item-icon-left .icon:first-child,
.item-icon-right .icon:last-child {
	color: $hoki;
}

.button-energized {
	color: #ffc900 !important;
}

.alert-toggle {
	padding-top: 20px;
}